@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;500;600&display=swap');


* {
    /* border: 1px dotted red; */
}
main {
    background-image: url(assets/mobileBg.png);
    background-size: cover;
    background-position: center;
    height: 763px;
    max-width: 1512px;
    margin: 0px auto;
    box-sizing: border-box;
} 

.nav-link {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #404040;
}

#main-logo {
    width: 55px;
    height: 50px;
}

.main-body-header {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    width: fit-content;
    height: fit-content;

    /* color: #262626; */
    color: white;
    padding: 10px;
    margin-top: 50px;
}

.main-body {
    max-width: 1512px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-body-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}

.main-body-sub {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 1512px;
    height: fit-content;

    color: #262626;
    padding: 10px;
    margin: 20px 0;
}

.navbar-toggler-icon.navbar-dark {
    width: 40px !important;
    height: 40px !important;
}

.bg-container {
    margin-top: 30px;
    max-width: 1513px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bg {
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 900px) {
    #main-logo {
        width: 95px;
        height: 90px;
    }
    main {
        background-image: url(assets/header.png);
    } 
    .main-body {
        flex-direction: row;
    }
  
    .main-bg {
        width: 80%;
        height: 80%;
    }

  .main-body-header {
    font-weight: 600;
    font-size: 75px;
    line-height: 94px;
  }

  .main-body-sub {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}
  
  