@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;500;600&display=swap');


* {
    /* border: 1px dotted red; */
}

.main {
    width: 1512px;
    height: 982px;
    background-image: url(assets/header.png);
    margin: auto;
}

.img-logo img {
    position: absolute;
    width: 112px;
    height: 103px;
    left: 102px;
    top: 37px;
}

.nav-container {
    width: 1512px;
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    padding-right:30px ;

}

.nav-item {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #404040;
    padding-top: 66px;
}

.heading {
    position: absolute;
    width: 625px;
    height: 190px;
    left: calc(50% - 625px/2 - 352.5px);
    top: calc(50% - 190px/2 - 53px);

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 94px;
    text-align: center;

    color: #262626;

    backdrop-filter: blur(250px);
}

.sub-heading {
    position: absolute;
    width: 539px;
    height: 60px;
    left: 134px;
    top: 577px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #262626;
}

.main-img img {
    position: absolute;
    width: 730px;
    height: 615px;
    left: 752px;
    top: 223px;
}